.addition {
    margin: 10px 0px;
    padding: 10px;
    background-color: rgb(61, 131, 197);
    
}
.Subtraction {
    margin: 10px 0px; 
    padding: 10px;
    background-color: rgb(148, 59, 108);
}
.multiplication {
    margin: 10px 0px;
    padding: 10px;
    background-color: rgb(165, 75, 15);
}
