header{
    background-color: antiquewhite;
    text-align: center;
    font-size: 50px;
    border-style: groove;
}

  .flex-container{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
  }

  .gridItem{
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
   }

   main{
       background-color: aqua;
       text-align: center;
       background-origin: padding-box;
       padding: 10px;
   }
ul{
  list-style-type: none;
  
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;

    }
